[Unit]
Description=wireshark
After=network.target
Requires=broadwayd.service

[Service]
Type=simple
User=localadmin
ExecStart=/usr/bin/wireshark-gtk -i #INTERFACE# --fullscreen -o gui.fileopen_remembered_dir:/home/#LOCALUSER#/public_html/caps
Environment=XDG_RUNTIME_DIR=/home/#LOCALUSER#/.cache
Environment=GDK_BACKEND=broadway
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

